/*reset*/ 
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}
body    {
    background-color: #000000;
}
/*nav-top*/ 
.nav-top {
    background-color: #000000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 10px;
}
.key-nav{
    display: none;
}
.nav-top p  {
    margin-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-size: 22px;
    align-self: center;
    color: #FFC107;
}
.nav-top a {
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    float: left;
    color: #E1E8EB;
    padding: 14px 16px; 
    border-radius: 2px;
    margin: 10px;
    transition: background-color 200ms ease-out 10ms;
}
.nav-top a:hover {
    background-color: #FFC107;
    color: black;
}
.nav-top a.active {
    background-color: #04AA6D;
    color: white;
}
#menu-btn1, #menu-btn2, #menu-btn3 ,#menu-btn4, #menu-btn5{
    display:block;
}
/*main*/
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    /*outline: 5px solid red;*/
}
/*main-container*/
    .main-container{
        margin: 0 auto;
        position: relative;
        width: 80vw;
        min-width: 360px;
        height: 100%;
        /*outline: 2px solid green;*/
        
    }
/*grid*/ 
    .grid{
        width: 100%;
        max-width: 80vw;
        min-width: 300px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 12px; 
        margin: 0 auto;        
    }
/*card*/
    .card{
        width: 100%;
        height: 100%;
        aspect-ratio: 3/2;
        border-radius: 3px;
    }
    .mini{
        width: 100%;
        height: 100%;
    }
    .window{
        background: linear-gradient(180deg, transparent, rgb(3, 3, 3)),url(img-dic.jpg);
        background-size: cover;
        background-position: top;
        display: flex;
        flex-direction: column-reverse;
    }
    span{
        color: #E1E8EB;
        text-align: start;
        margin: 15px;
        font-size: 2vw;
        text-shadow: #000000 -3px -5px 5px;
        font-family:'Times New Roman', Times, serif;
    }
    
/*footer*/
.footer{
    width: 100%;
    background-color: #000000;
    color: #E1E8EB;
    font-size: 0.7rem;
    text-align: center;
    padding: 50px 50px;
}
.footer a{
    color: #E1E8EB;
    text-decoration: none;
    transition: background-color 200ms ease-out 10ms;
}
.footer a:hover {
    color: #FFC107;
}

@media only screen and (max-width: 830px) {
    .grid{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .nav-top{
        grid-template-columns: 1fr;
        gap: 10px;
        text-align: center;
    }
    .nav-top>p{
        padding: 10px;
        margin: 0 auto;
    }
    .key-nav{
        display:block;
        width: 100%;
        height: 50px;
        background-color: #000000;
    }
    #menu-btn1, #menu-btn2, #menu-btn3 ,#menu-btn4, #menu-btn5{
        display:none;
    }
    .lines{
        margin: 0 auto;
        outline: #e1e8eb21 solid 2px;
        width: 10vw;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .line1, .line2, .line3{
        position: relative;
        margin: auto auto;
        width: 80%;
        height: 3px;
        background-color: #e1e8eb57;
    }
    span{
        font-size: 1.6em;
    } 
    body::-webkit-scrollbar {
        display: none;
    }
}
@media only screen and (max-width: 440px){
    span{
        font-size: 1.1em;
        } 
}


/* cellphones 360px to 830px width */
/* desk-tablets-wide 830px to 2560px */